<a href="https://colab.research.google.com/github/Netesh5/Astronomical_Data_AstroPy/blob/main/General_Operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from astropy.table import Table
from google.colab import drive

In [4]:
drive.mount("/content/mydrive")

Mounted at /content/mydrive

# Printing the data

In [6]:
data=Table.read("/content/mydrive/My Drive/Machine Learning/Astronomy/demo.txt",format="ascii")
print(data)

name  obs_date  mag_b mag_v
---- ---------- ----- -----
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
M101 2012-01-02  15.1  13.5
 M82 2012-02-14  16.2  14.5
 M31 2012-02-14  16.9  17.3
 M82 2012-02-14  15.2  15.5
M101 2012-02-14  15.0  13.6
 M82 2012-03-26  15.7  16.5
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3

# Using pprint function

In [7]:
data.pprint()

name  obs_date  mag_b mag_v
---- ---------- ----- -----
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
M101 2012-01-02  15.1  13.5
 M82 2012-02-14  16.2  14.5
 M31 2012-02-14  16.9  17.3
 M82 2012-02-14  15.2  15.5
M101 2012-02-14  15.0  13.6
 M82 2012-03-26  15.7  16.5
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3

In [10]:
data.pprint(show_name=False)

 M31 2012-01-02 17.0 17.5
 M31 2012-01-02 17.1 17.4
M101 2012-01-02 15.1 13.5
 M82 2012-02-14 16.2 14.5
 M31 2012-02-14 16.9 17.3
 M82 2012-02-14 15.2 15.5
M101 2012-02-14 15.0 13.6
 M82 2012-03-26 15.7 16.5
M101 2012-03-26 15.1 13.5
M101 2012-03-26 14.8 14.3

In [12]:
print(data["name"])

name
----
 M31
 M31
M101
 M82
 M31
 M82
M101
 M82
M101
M101

# Adding new column

In [24]:
from astropy.table import Column

new_col=Column(range(len(data)),name="new_col")

data.add_column(new_col,index=len(data))

print(data)

name  obs_date  mag_b mag_v new_col
---- ---------- ----- ----- -------
 M31 2012-01-02  17.0  17.5       0
 M31 2012-01-02  17.1  17.4       1
M101 2012-01-02  15.1  13.5       2
 M82 2012-02-14  16.2  14.5       3
 M31 2012-02-14  16.9  17.3       4
 M82 2012-02-14  15.2  15.5       5
M101 2012-02-14  15.0  13.6       6
 M82 2012-03-26  15.7  16.5       7
M101 2012-03-26  15.1  13.5       8
M101 2012-03-26  14.8  14.3       9

# Removing columns

In [27]:
data.remove_columns(["name","obs_date"])
print(data)

mag_b mag_v new_col
----- ----- -------
 17.0  17.5       0
 17.1  17.4       1
 15.1  13.5       2
 16.2  14.5       3
 16.9  17.3       4
 15.2  15.5       5
 15.0  13.6       6
 15.7  16.5       7
 15.1  13.5       8
 14.8  14.3       9

# Sorting

In [28]:
data.sort(["mag_b","mag_v"])
print(data)

mag_b mag_v new_col
----- ----- -------
 14.8  14.3       9
 15.0  13.6       6
 15.1  13.5       2
 15.1  13.5       8
 15.2  15.5       5
 15.7  16.5       7
 16.2  14.5       3
 16.9  17.3       4
 17.0  17.5       0
 17.1  17.4       1